common/xml/tom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by me (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="species" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="code"/>
							<xs:element name="name"/>
							<xs:element name="latin"/>
							<xs:element name="en" minOccurs="0"/>
							<xs:element name="status" minOccurs="0"/>
							<xs:element name="stat"/>
							<xs:element name="sort1"/>
							<xs:element name="sort2"/>
							<xs:element name="sort3" minOccurs="0"/>
							<xs:element name="video" minOccurs="0"/>
							<xs:sequence>
								<xs:element name="author" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:sequence>
						<xs:attribute name="draw"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required"/>
			<xs:attribute name="lang" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
